.Container {
    border: 5px solid#e2635f;
    border-radius: 4px;
  }
  .Container > div {
    border-radius: 4px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
  }